@charset "UTF-8";

@font-face {
  font-family: "realty";
  src:url("realty.eot");
  src:url("realty.eot?#iefix") format("embedded-opentype"),
    url("realty.woff") format("woff"),
    url("realty.ttf") format("truetype"),
    url("realty.svg#realty") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "realty" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "realty" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  /*line-height: 1;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account:before,
.icon-account-circle-1:before {
  content: "\61";
}
.icon-add:before,
.icon-add-1:before {
  content: "\62";
}
.icon-add-box:before {
  content: "\63";
}
.icon-add-circle-1:before {
  content: "\64";
}
.icon-arrow-box-down-3:before {
  content: "\65";
}
.icon-arrow-box-left-3:before {
  content: "\66";
}
.icon-arrow-box-right-3:before {
  content: "\67";
}
.icon-arrow-box-up-3:before {
  content: "\68";
}
.icon-arrow-circle-down-6:before {
  content: "\69";
}
.icon-arrow-circle-left-6:before {
  content: "\6a";
}
.icon-arrow-circle-right-6:before {
  content: "\6b";
}
.icon-arrow-circle-up-6:before {
  content: "\6c";
}
.icon-arrow-down-7:before {
  content: "\6d";
}
.icon-arrow-down-9:before {
  content: "\6e";
}
.icon-arrow-down-12:before {
  content: "\6f";
}
.icon-arrow-left:before,
.icon-arrow-left-7:before {
  content: "\70";
}
.icon-arrow-left-9:before {
  content: "\71";
}
.icon-arrow-left-12:before {
  content: "\72";
}
.icon-arrow-right:before,
.icon-arrow-right-7:before {
  content: "\73";
}
.icon-arrow-right-9:before {
  content: "\74";
}
.icon-arrow-right-12:before {
  content: "\75";
}
.icon-arrow-up-7:before {
  content: "\76";
}
.icon-arrow-up-9:before {
  content: "\77";
}
.icon-arrow-up-12:before {
  content: "\78";
}
.icon-at-sign:before {
  content: "\79";
}
.icon-bank-notes:before,
.icon-bank-notes-3:before {
  content: "\7a";
}
.icon-bathrooms-2:before,
.icon-bath-tub:before {
  content: "\41";
}
.icon-bedrooms:before,
.icon-bed-single:before {
  content: "\42";
}
.icon-trash:before,
.icon-bin-1:before {
  content: "\43";
}
.icon-calendar:before,
.icon-calendar-1:before {
  content: "\44";
}
.icon-check-1:before {
  content: "\45";
}
.icon-check-2:before {
  content: "\46";
}
.icon-check-box-2:before {
  content: "\47";
}
.icon-check-circle-2:before {
  content: "\48";
}
.icon-control-play:before {
  content: "\49";
}
.icon-cross-over:before {
  content: "\4a";
}
.icon-crosshair:before,
.icon-crosshair-2:before {
  content: "\4b";
}
.icon-crosshair-3:before {
  content: "\4c";
}
.icon-rooms:before,
.icon-door-simple:before {
  content: "\4e";
}
.icon-email:before {
  content: "\4f";
}
.icon-email-1:before {
  content: "\50";
}
.icon-expand:before,
.icon-expand-diagonal-2:before {
  content: "\51";
}
.icon-fax:before,
.icon-fax-machine:before {
  content: "\52";
}
.icon-file-excel-1:before {
  content: "\53";
}
.icon-file-music-1:before {
  content: "\54";
}
.icon-file-new-1:before {
  content: "\55";
}
.icon-file-pdf-1:before {
  content: "\56";
}
.icon-file-picture:before {
  content: "\57";
}
.icon-file-text:before {
  content: "\58";
}
.icon-file-video-2:before {
  content: "\59";
}
.icon-file-words-1:before {
  content: "\5a";
}
.icon-file-zipped:before {
  content: "\30";
}
.icon-garage:before {
  content: "\31";
}
.icon-globe:before,
.icon-globe-2:before {
  content: "\32";
}
.icon-hash:before {
  content: "\33";
}
.icon-heart:before {
  content: "\34";
}
.icon-heart-1:before {
  content: "\35";
}
.icon-question-circle:before,
.icon-help-circle:before {
  content: "\36";
}
.icon-home:before,
.icon-home-1:before {
  content: "\37";
}
.icon-hot-topic:before {
  content: "\38";
}
.icon-size-2:before,
.icon-house-measurement:before {
  content: "\39";
}
.icon-info-circle:before,
.icon-infomation-circle:before {
  content: "\21";
}
.icon-image:before,
.icon-landscape-mode:before {
  content: "\22";
}
.icon-pin-full:before,
.icon-location-pin-2:before {
  content: "\23";
}
.icon-location-pin-2-1:before {
  content: "\24";
}
.icon-location-pin-medium:before {
  content: "\25";
}
.icon-location-pin-medium-1:before {
  content: "\26";
}
.icon-login-3:before {
  content: "\27";
}
.icon-facebook:before,
.icon-logo-facebook:before {
  content: "\28";
}
.icon-google-plus:before,
.icon-logo-google-plus-1:before {
  content: "\29";
}
.icon-linkedin:before,
.icon-logo-linkedin:before {
  content: "\2a";
}
.icon-pinterest:before,
.icon-logo-pinterest:before {
  content: "\2b";
}
.icon-twitter:before,
.icon-logo-twitter-bird:before {
  content: "\2c";
}
.icon-logout:before,
.icon-logout-3:before {
  content: "\2d";
}
.icon-size:before,
.icon-measuring-tool:before {
  content: "\2e";
}
.icon-mobile:before,
.icon-mobile-phone-portrait:before {
  content: "\2f";
}
.icon-pen:before,
.icon-pen-2:before {
  content: "\3a";
}
.icon-phone:before,
.icon-phone-3:before {
  content: "\3b";
}
.icon-phone-2:before,
.icon-phone-5:before {
  content: "\3c";
}
.icon-print:before,
.icon-print-text:before {
  content: "\3d";
}
.icon-star-1:before, .icon-rank-army-star-1:before {
  content: "\3e";
}
.icon-star-1-1:before, .icon-rank-army-star-1-1:before {
  content: "\3f";
}
.icon-star-2:before, .icon-rank-army-star-2:before {
  content: "\40";
}
.icon-star-2-1:before, .icon-rank-army-star-2-1:before {
  content: "\5b";
}
.icon-close:before,
.icon-remove-1:before {
  content: "\5d";
}
.icon-remove-box:before {
  content: "\5e";
}
.icon-remove-circle-1:before {
  content: "\5f";
}
.icon-share:before {
  content: "\60";
}
.icon-bathrooms:before,
.icon-shower:before {
  content: "\7b";
}
.icon-shrink-diagonal-1:before {
  content: "\7c";
}
.icon-synchronize-1:before {
  content: "\7d";
}
.icon-video-camera:before {
  content: "\7e";
}
.icon-video-camera-1:before {
  content: "\5c";
}
.icon-view:before,
.icon-view-1:before {
  content: "\e000";
}
.icon-view-list-fill:before, .icon-view-headline:before {
  content: "\e001";
}
.icon-view-list:before, .icon-view-headline-1:before {
  content: "\e002";
}
.icon-view-grid:before, .icon-view-module-1:before {
  content: "\e003";
}
.icon-view-grid-fill:before, .icon-view-module-1-1:before {
  content: "\e004";
}
.icon-clock:before,
.icon-clock-2:before {
  content: "\e005";
}
.icon-subtract:before,
.icon-subtract-1:before {
  content: "\e006";
}
