/**
 * SASS Variables
 *
 */
$color-primary:							#43becc;
$color-heading:							#42484b;
$color-text: 								#787878;
$color-muted: 							#999;
$color-success: 						#5fc566;
$color-danger: 							#fa726c;
$color-warning: 						#ffc12b;
$color-info: 								#309dd4;
$color-border:				      #e6e6e6;
$color-background-light: 		#f8f8f8;
$color-background-dark: 		#23282d;