@font-face {
  font-family: 'howcons';
  src:  url('fonts/howcons.eot?j48law');
  src:  url('fonts/howcons.eot?j48law#iefix') format('embedded-opentype'),
    url('fonts/howcons.ttf?j48law') format('truetype'),
    url('fonts/howcons.woff?j48law') format('woff'),
    url('fonts/howcons.svg?j48law#howcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="howcons-"], [class*=" howcons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'howcons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.howcons-pencil4:before {
  content: "\e928";
}
.howcons-heart:before {
  content: "\e929";
}
.howcons-star3:before {
  content: "\e92a";
}
.howcons-envelope:before {
  content: "\e92b";
}
.howcons-file-lock:before {
  content: "\e93d";
}
.howcons-enter:before {
  content: "\e93e";
}
.howcons-exit:before {
  content: "\e93f";
}
.howcons-papers:before {
  content: "\e940";
}
.howcons-camera-play:before {
  content: "\e941";
}
.howcons-profile:before {
  content: "\e92c";
}
.howcons-user-lock:before {
  content: "\e92d";
}
.howcons-telephone:before {
  content: "\e92e";
}
.howcons-map-marker:before {
  content: "\e92f";
}
.howcons-map:before {
  content: "\e930";
}
.howcons-power-switch:before {
  content: "\e942";
}
.howcons-bubbles:before {
  content: "\e943";
}
.howcons-bubble-question:before {
  content: "\e944";
}
.howcons-exit-left:before {
  content: "\e931";
}
.howcons-exit-right:before {
  content: "\e932";
}
.howcons-magnifier:before {
  content: "\e933";
}
.howcons-chevron-up:before {
  content: "\e945";
}
.howcons-chevron-down:before {
  content: "\e946";
}
.howcons-chevron-left:before {
  content: "\e947";
}
.howcons-chevron-right:before {
  content: "\e948";
}
.howcons-warning:before {
  content: "\e934";
}
.howcons-notification-circle:before {
  content: "\e935";
}
.howcons-question-circle:before {
  content: "\e936";
}
.howcons-checkmark-circle:before {
  content: "\e937";
}
.howcons-cross-circle:before {
  content: "\e938";
}
.howcons-chevron-up-circle:before {
  content: "\e939";
}
.howcons-chevron-down-circle:before {
  content: "\e93a";
}
.howcons-chevron-left-circle:before {
  content: "\e93b";
}
.howcons-fingers-scroll-right:before {
  content: "\e93c";
}
.howcons-user:before {
  content: "\e927";
}
.howcons-news:before {
  content: "\e926";
}
.howcons-mail-envelope-closed:before {
  content: "\e900";
}
.howcons-mail-checked:before {
  content: "\e901";
}
.howcons-mail-checked2:before {
  content: "\e902";
}
.howcons-mail-cancel:before {
  content: "\e903";
}
.howcons-mail-cancel2:before {
  content: "\e904";
}
.howcons-mail-add:before {
  content: "\e905";
}
.howcons-mail-add2:before {
  content: "\e906";
}
.howcons-mail-remove:before {
  content: "\e907";
}
.howcons-mail-remove2:before {
  content: "\e908";
}
.howcons-star:before {
  content: "\e909";
}
.howcons-star2:before {
  content: "\e90a";
}
.howcons-trash-can:before {
  content: "\e90b";
}
.howcons-trash-can2:before {
  content: "\e90c";
}
.howcons-information:before {
  content: "\e90d";
}
.howcons-information2:before {
  content: "\e90e";
}
.howcons-information3:before {
  content: "\e90f";
}
.howcons-information4:before {
  content: "\e910";
}
.howcons-clipboard-add:before {
  content: "\e911";
}
.howcons-clipboard-add2:before {
  content: "\e912";
}
.howcons-clipboard-remove:before {
  content: "\e913";
}
.howcons-clipboard-remove2:before {
  content: "\e914";
}
.howcons-clipboard-list:before {
  content: "\e915";
}
.howcons-clipboard-list2:before {
  content: "\e916";
}
.howcons-inbox:before {
  content: "\e917";
}
.howcons-inbox2:before {
  content: "\e918";
}
.howcons-inbox-document:before {
  content: "\e919";
}
.howcons-inbox-document2:before {
  content: "\e91a";
}
.howcons-inbox-download:before {
  content: "\e91b";
}
.howcons-inbox-download2:before {
  content: "\e91c";
}
.howcons-inbox-upload:before {
  content: "\e91d";
}
.howcons-inbox-upload2:before {
  content: "\e91e";
}
.howcons-search:before {
  content: "\e91f";
}
.howcons-printer-text:before {
  content: "\e920";
}
.howcons-printer-text2:before {
  content: "\e921";
}
.howcons-thumb-up:before {
  content: "\e922";
}
.howcons-thumb-up2:before {
  content: "\e923";
}
.howcons-two-fingers-swipe-right:before {
  content: "\e924";
}
.howcons-two-fingers-swipe-right2:before {
  content: "\e925";
}

